
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

/*body {
  margin: 0;
  padding: 0;
  background: lightgray;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}*/
#background {
  width: 100%;
  height: auto;
  background-image: url("../../assets/images/fam1.jpg");
  background-repeat: no-repeat;
  /*opacity: 0.5;*/

}

#login-box {
  position: relative;
  margin: 5% auto;
  margin-right: 0;
  background-color: white;
  width: 33%;
  height: 600px;
  font-family: 'Raleway', sans-serif;

}

.left {
  position: absolute;
  top: 0;
  left: 0px;
  box-sizing: border-box;
  padding: 50px;
  width: 500px;
  height: 400px;
  opacity: 1;

}

.left h1 {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 28px;
}

.auth-link {
  padding: 10px;
}

.form-group row  {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}