#topjoin {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    height: auto;
    margin-top: 75px;
    padding-left: 25px;
    padding-bottom: 100px;
    background-image: url("../../assets/images/wood3.jpg");
    font-family: 'Raleway', sans-serif;

}
#jointext {
    text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 10px black;
    /*padding-left: 10%;*/
}

#joincard {
    border: 8px solid #ffe1cc;
    width: 275px;
    margin: 15px;
    margin-left: 3%;
    background-color: white;
}

#joincard h3{
    height: 50px;
}

.auth-link {
	color: white; 
	text-decoration-style: none;
	/*padding: 50px;*/
}