<div id="topjoin">
  <div>
  <h3 id="jointext">Select a Family to Join</h3>
    <a routerLink="/home" class="auth-link">(or...go back to your families)</a>
  </div>


  <div class="container-fluid text-center">
    <div class="cards text-center" id="familyoptions">
      <div *ngFor="let family of families" class="col-sm-3 col-md-3 card" id="joincard">
        <img width="200" height="150" src="../../assets/images/family3.jpg">
        <h3>{{family.name}}</h3>
        <p><a (click)="clickFamily(family.id)" class="btn" role="button">Request to Join Family</a></p>

      </div>
    </div>
  </div>
</div>