<div style="text-align:center">
  <h1>
    Where We Live!
  </h1>
</div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<!--<div class="jumbotron">-->
  <div class="container">

    <div class = "row">
      <div class = "col-md-12">
        <div class = "map">
          <agm-map 
              [latitude]="lat" 
              [longitude]="lng"
              [zoom] = "zoom"
              [disableDefaultUI] = false
              [zoomControl] = "false"
              (mapClick) = "mapClicked($event)">

            <agm-marker 
              *ngFor = "let m of markers; let i = index"
              (markerClick) = "clickedMarker(m, i)"
              [latitude]="m.lat" 
              [longitude]="m.lng">

              <agm-info-window>
                {{m.name}}
                {{m.lat}}
                {{m.lng}}
                
              </agm-info-window>  
              </agm-marker>
          </agm-map>

        </div>  
      </div>
    </div>  
    
  </div>    
<!--</div>-->
