
<div id="sharerec">
 <div id="recipe-box">
  <div class="left">
     <h1>Add a Family Recipe</h1>
        <a routerLink="/myfamily" class="auth-link">Back to the homepage.</a>

  <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage">
      {{errorMessage}} 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <form (ngSubmit)="saveRecipe(recipeForm)"  #recipeForm="ngForm" class="form-horizontal">
    
      <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input ngModel type="text" class="form-control" id="title" name="title" placeholder="Recipe title" required>
        <span *ngIf="formErrors.title" class="text-danger">
            {{ formErrors.title }}
        </span>
      </div>
    </div>
     <div class="form-group">
      <label for="ingredients" class="col-sm-2 control-label">Ingredients</label>
      <div class="col-sm-10">
        <input ngModel type="text" class="form-control" id="ingredients" name="ingredients" placeholder="Ingredients" required>
          <span *ngIf="formErrors.ingredients" class="text-danger">
            {{ formErrors.ingredients }}
          </span>
      </div>
    </div>
    <!--<div class="form-group">
      <label for="preps" class="col-sm-2 control-label">Preparation Instructions</label>
      <div class="col-sm-10">
        <input ngModel type="text" class="form-control" id="preps" name="preps" placeholder="Steps to make it...">
        <span *ngIf="formErrors.preps" class="text-danger">
            {{ formErrors.preps }}
          </span>
      </div>
    </div>-->
  
    <div class="form-group">
      <label for="directions" class="col-sm-2 control-label">Directions</label>
      <div class="col-sm-10">
        <input ngModel type="text" class="form-control" id="directions" name="directions"  placeholder="Steps to follow..." required>
          <span *ngIf="formErrors.directions" class="text-danger">
            {{ formErrors.directions }}
          </span>
      </div>
    </div>
     <div class="form-group">
     <label for="cookTime" class="col-sm-2 control-label">Cook Time</label>
      <div class="col-sm-10">
        <input ngModel #cook_time="ngModel" type="text" class="form-control" id="cookTime" name="cookTime" placeholder="How long?">
          <span *ngIf="formErrors.cookTime" class="text-danger">
            {{ formErrors.cookTime }}
          </span>
      </div>
    </div>
  
    <div class="form-group">
      <label for="serves" class="col-sm-2 control-label">Servings</label>
      <div class="col-sm-10">
        <input ngModel type="text" class="form-control" id="serves" name="serves" placeholder="How many servings does this make?">
        <span *ngIf="formErrors.serves" class="text-danger">
            {{ formErrors.serves }}
        </span>
      </div>
    </div>
  
   
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <button [disabled]="!recipeForm.form.valid" type="submit" class="btn btn-primary">Share Recipe</button>
      </div>
    </div>
 
  </form>
    </div>
    </div>
      </div>