

<div id="fullphotopage">
<h1 id="gallery">Gallery</h1>
      <a routerLink="/myfamily" class="auth-link">Back to the homepage.</a>

<div class="container-fluid">
  <div class="row cards text-center">
  <div *ngFor="let photo of photos; let i = index" class="col-md-3 card">
      <img id="stuff" width="300" height="300" src="{{ photo.url }}" >
      <a (click)="setPhoto(photo.url)" class="btn btn-default randomClass" role="button">Set profile picture</a>
  </div>
 </div>
 </div>

  <a class="btn btn-default upload" routerLink="/uploadphotos">Upload Photos</a>

</div>
 




  