#gallery {
    text-align: center;
	color: white;
	font-size: 38px;
	font-weight: bold;
	text-shadow: 10px black;
}
#fullphotopage {
    margin-top: 80px;
    font-family: 'Raleway', sans-serif;
      background-image: url("../../assets/images/wood3.jpg");
      padding-top: 20px;
}
#stuff {
	border: 5px solid seashell; 
	margin-bottom: 12px;
}
/*
.thumbnail {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      background-color: white;
      color: black;
     
}*/





/*ul { padding:0; width:780px; margin:20px auto}
  	li { display:inline;}
        .tn{ 
	   margin:2px 0px;
	   box-shadow:#999 1px 1px 3px 1px; 
	   cursor: pointer 
        }
  	.modal-content {
	    width: 670px !important;
	}

    .selectedImage{ 
	width:640px;
	position:relative }
.caption{
	position:absolute;
        height:70px;
	width:100%;
	top:410;
	left:0;
	opacity:0.9;
	background-color:black;
	color:white;
	padding:5px;
	font-family:verdana;
	font-size:12px;
}
p {
   -webkit-margin-before: 5px !important;
   -webkit-margin-after: 5px !important;
}
*/
