#gallery {
    text-align: center;
	color: white;
	font-size: 38px;
	font-weight: bold;
	text-shadow: 10px black;
}
#fullphotopage {
    margin-top: 80px;
    font-family: 'Raleway', sans-serif;
      background-image: url("../../assets/images/wood3.jpg");
	  padding-bottom: 50px;
      padding-top: 20px;
}
#stuff {
	border: 5px solid seashell; 
	margin-bottom: 12px;
}
.auth-link {
	color: white; 
	text-decoration-style: none;
	padding: 50px;
}

.randomClass{
	position: relative;
	top:-50px;
	right:-85px;
	opacity: .7;
	font-size: 10px;		
}
.upload {
	margin-left: 45%;
}