#gallery {
    text-align: center;
}
/*
.thumbnail {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      background-color: white;
      color: black;
     
}*/
