<div id="background">
  <div id="newJoe">
    <div id="page">
      <h1>Create Family</h1>
      <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage">
          {{errorMessage}} {{successMessage}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <form (ngSubmit)="addFamily(familyForm)"  #familyForm="ngForm" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-8">
            <input ngModel #name="ngModel" type="text" class="form-control" id="name" name="name" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-new">Submit</button>
            <a class="btn btn-return" routerLink="/home">Return</a>
          </div>
        </div>
      </form>
    </div>
    <div id=picture>
      <img  src="../../assets/images/hand_in_mine.jpg" alt="generations hand in hand">
    </div>  
  </div>
</div>