.container-fluid {
    margin-top: 75px;
    background-color: cornsilk;
    height: auto;
}

#recipepanel {
    width: 400px;
    height: 380px;
    float: left;
    margin: 2%;
    background-image: url("../../assets/images/card2.jpg");
    /*font-family: 'Homemade Apple', cursive;*/
    font-family: Courier New, Courier, monospace;
}
#recipetext h3 {
  padding-left: 5px;
}
 .row {
  margin-right: 10px;
}
ul {
  list-style-type: none;
}

#someoptions {
  padding-left: 40%;
  padding-bottom: 50px;
  background-color: cornsilk;
  
}