<div class="container-fluid" id="recipebox">

  <div *ngFor="let recipe of recipeArray" id="recipepanel">
    <div id="recipetext">
      <h3>{{recipe.postedBy.firstName}}'s {{recipe.title}}</h3>
    </div>
    <ul>
      <li>
        <div class="row">Cook Time: <b>{{recipe.cookTime}}</b></div>
        <div class="row">Serves: <b> {{recipe.serves}}</b></div>
        <!--<div class="row">Preparation:    <b>{{recipe.preps}}</b></div>-->
        <div class="row">Ingredients: <b>{{recipe.ingredients}}</b></div>
        <div class="row">Directions: <b>{{recipe.directions}}</b></div>
      </li>
    </ul>
  </div>
</div>
<div id="someoptions">
  <a class="btn btn-primary" routerLink="/recipes">Share Recipe</a>
  <a routerLink="/myfamily" class="auth-link">Back to the homepage.</a>
</div>
