.container-fluid {
    margin-top: 75px;
    background-color: cornsilk;
}

#recipepanel {
    width: 400px;
    height: 380px;
    float: left;
    margin: 2%;
  background-image: url("../../assets/images/card2.jpg");
      /*font-family: 'Homemade Apple', cursive;*/
      font-family: Courier New, Courier, monospace

}
 li {
  padding-right: 5px;
}
ul {
  list-style-type: none;
}
/*#recipecard {
  position: relative;
  margin: 5% auto;
  margin-left: 33%;
  width: 500px;
  height: auto;
  background: lightgray;
  font-family: 'Roboto', sans-serif;

  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}*/

/*.left {
  position: absolute;
  top: 0;
  left: 0px;
  box-sizing: border-box;
  padding: 50px;
  width: 500px;
  height: 400px;
  opacity: 1;

}

.left h1 {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 28px;
}*/

#someoptions {
  float: left;
}