/** {
    border: 1px dashed red;
}*/
.panel {
    background-color: seashell;
}
.myfamilycontent {
    margin-top: 80px;
    font-family: 'Raleway', sans-serif;
      background-image: url("../../assets/images/wood3.jpg");
      padding-top: 20px;
}

#memberjumboandphotos {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    margin: 2%;
}
.jumbotron {
    background-color: seashell;
    border-radius: 5px;
}

.jumbotron form {
    padding: 5%;
}
 
.jumbotron h2 {
    text-align: center;
    align-content: top;
    padding-bottom: 10px;
    margin-top: 0px;
}

form button {
    float: right;
}
form input {
    height: 45px;
}

#memberpanelplustree {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 5%;
}
#memberpanel {
     background-color: seashell;
}

/*.list-group {
    padding-left: 2%;
    padding-right: 2%;
}*/
#postcontent {
    font-size: 16px;
    padding-top: 4px;
    font-weight: bold;
}
.media-heading {
    text-align: center;
}

#photoandrecipebox {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 25%;

    /*width: 550px;*/
}
#photobuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#familyrecipebox {
    margin-top: 10px;
}
#boxphoto #recipebuttons #treebutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 #photothumbnails {
     height: 500px;
 }


#familyorgchart {
    height: auto;
    width: 100%;
    /*margin-bottom: 0;*/
}
.auth-link {
	color: white; 
	text-decoration-style: none;
	padding: 50px;
}
#galleryimg {
    padding-bottom: 5px;
    padding-left: -5px;
}

