#background {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/wood3.jpg");
  padding-top: 150px;
  /*opacity: 0.5;*/
}

#container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  /*border: 5px red solid;*/
  margin-bottom: 150px;
}

#editprofile {
    /*margin-top: 75px;*/
    position: relative;
    /*margin: 5% auto;*/
    margin-right: 5%;
    align-items: center;
    width: 40%;
    height: 400px;
    background: seashell;
    font-family: 'Raleway', sans-serif;

    /*border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);*/
}

#editprofile h1 {
    align-content: center;
}

.auth-link {
  color:  #cc5500;
}

.btn-new {
  color: #ff6a00;
  font-weight: bolder;
  font-size: 16px;
}

#picture {
  margin-left: 5%;
}