#background {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/tree3.jpg");
  /*opacity: 0.5;*/
}

#profile {
    margin-top: 130px;
    position: relative;
    margin: 5% auto;
    margin-left: 33%;
    width: 700px;
    /*height: 500px;*/
    background: lightgray;
    font-family: 'Roboto', sans-serif;

    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#profile h2 {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 28px;
  align-content: center;
}

.btn-default {
  margin-left: 75%;
}

.table {
  background-color: whitesmoke;
}