.navbar {
    background-color: white;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style-type: none;
    overflow: hidden;
}

li a {
    display: block;
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

