
<div class="jumbotron">
  <div class="container">

  <h1>Welcome to the Family Reserve</h1>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
  </div>
</div>
<!--<div>
<md-tab-group>
    <md-card *ngFor="let photo of photos; let i = index">
      <img md-card-image src="{{ photo.url }}">
      <md-card-content>
        <p>{{ photo.title }}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="photos.liked == '1'">favorite</i> LIKE
        </button>
      </md-card-actions>
    </md-card>
  
</md-tab-group>
<div>-->