#fullhomepage {
    margin-top: 75px;
    background-image: url("../../assets/images/wood3.jpg");
    /*background-color: seashell;*/
    font-family: 'Raleway', sans-serif;
    height: 700px;

}
#myfamilies h2 {
    font-size: 40px;
    color: seashell;
    font-weight: bold;
}
#myfamilies h4 {
    color: seashell;
}

.thumbnail {
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
}

#famcards {
    border: 10px solid seashell;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: top;
    width: 275px;
    height: 215px;
    margin: 5px;
    margin-left: 3%;
    background-image: url("../../assets/images/feetsmall.jpg");
    background-repeat: no-repeat;
    
}
#famcards h3 {
    font-size: 32px;
    font-weight: bold;
    color: black;
    list-style-type: none;
    text-decoration: none;
}

#famchoice {
   display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 75px;
}

/*.familyaction {
        background-color: lightgrey

}*/