#fullhomepage {
    margin-top: 75px;
    background-color: lightgrey;
}

.thumbnail {
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
}

#famcards {
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 5px;
    margin-left: 3%;
    background-image: url("../../assets/images/tree3.jpg");
}
#famcards h3 {
    font-size: 36px;
    font-weight: bold;
    color: black;
    list-style-type: none;
    text-decoration: none;
}

#famchoice {
   display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 75px;
}

.familyaction {
        background-color: lightgrey

}