
<div class="jumbotron">
  <div class="container">
   <h1>Welcome to the Family Reserve</h1>
  </div>
</div>

 <div class="container-fluid">
     <h2 class="center"> Families you belong to: </h2>
  <div class="row cards text-center" id="myfamilies">
  <div *ngFor="let family of families" class="col-sm-6 col-md-4 card" [routerLink]="['/myfamily']">
      <img width="300" height="300" src="../../assets/images/family1.jpg">
         <h3>{{family.name}}</h3>
        <p>{{family.id}}</p>
  </div>
 </div>
 </div>

<!--<div class="row">
  <div class="col-sm-6 col-md-4">
    <div *ngFor="let family of families" class="thumbnail" [routerLink]="['/myfamily']">
      <img src="../../assets/images/family3.jpg">
      <div class="caption">
        <h3>{{family.name}}</h3>
        <p>{{family.id}}</p>
      </div>
    </div>
  </div>
</div>-->
         
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail" [routerLink]="['/createfamily']">Create a Family<img width="100" height="100" src="../../assets/images/create1.jpg" alt="...">
        </a>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail" [routerLink]="['/joinfamily']">Join a Family<img width="100" height="100" src="../../assets/images/joinfam1.jpg" alt="...">
        </a>
      </div>
    </div>







