<div id="background">
 <div id="login-box">
  <div class="left">
     <h1>Register for Family Reserve</h1>
        <a routerLink="/signin" class="auth-link">Already have a Family Reserve account? Sign in!</a>

  <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage">
      {{errorMessage}} 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <form (ngSubmit)="saveUser(peopleForm)"  #peopleForm="ngForm" class="form-horizontal">
    <div class="form-group">
     <label for="firstName" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input ngModel #firstName="ngModel" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required minlength="2" maxlength="30">
          <span *ngIf="formErrors.firstName" class="text-danger">
            {{ formErrors.firstName }}
          </span>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input ngModel type="text" class="form-control" id="lastName" name="lastName"  placeholder="Last Name" required minlength="2" maxlength="30">
          <span *ngIf="formErrors.lastName" class="text-danger">
            {{ formErrors.lastName }}
          </span>
      </div>
    </div>
    <div class="form-group">
      <label for="userName" class="col-sm-2 control-label">User Name</label>
      <div class="col-sm-10">
        <input ngModel type="text" class="form-control" id="userName" name="userName" placeholder="User Name" required minlength="2" maxlength="30">
          <span *ngIf="formErrors.userName" class="text-danger">
            {{ formErrors.userName }}
          </span>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input ngModel type="text" class="form-control" id="password" name="password" placeholder="password" required minlength="2" maxlength="30">
        <span *ngIf="formErrors.password" class="text-danger">
            {{ formErrors.password }}
          </span>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input ngModel type="text" class="form-control" id="email" name="email" placeholder="user@email.com" required minlength="2" maxlength="30">
        <span *ngIf="formErrors.email" class="text-danger">
            {{ formErrors.email }}
        </span>
      </div>
    </div>
   
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <button [disabled]="!peopleForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
 
  </form>
    </div>
    </div>
      </div>


      <!--<div class="or">OR</div>
  
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>-->
