
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

#background {
  margin: 0;
  padding: 0;
  background-image: url("../../assets/images/tree3.jpg");
  /*font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;*/
}

#login-box {
  position: relative;
  margin: 5% auto;
  /*margin-left: 150px;*/
  width: 500px;
  height: 600px;
  background: lightgray;
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0px;
  box-sizing: border-box;
  padding: 50px;
  width: 500px;
  height: 400px;
}

.left h1 {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 28px;
}

.auth-link {
  padding: 10px;
}

.form-group row  {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

